/* Profile.css */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  .profile-image-container {
    margin-bottom: 1em;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ddd;
  }
  
  .request-list {
    list-style: none;
    padding: 0;
    margin: 1em 0;
  }
  
  .request-item {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .request-card {
    display: flex;
    flex-direction: column;
  }
  
  .request-item.open {
    border-left: 4px solid #28a745;
  }
  
  .request-item.canceled {
    border-left: 4px solid #dc3545;
  }

  .request-item.closed {
    border-left: 4px solid #dc3545;
  }
  
  .request-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0.5em;
    transition: background-color 0.3s;
  }
  
  .request-item button:hover {
    background-color: #0056b3;
  }  

  /* Profile.css */
.edit-request-form {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .edit-request-form h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .edit-request-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .edit-request-form input {
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .edit-request-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .edit-request-form button:hover {
    background-color: #218838;
  }
  
  .edit-request-form button[type="button"] {
    background-color: #dc3545;
  }
  
  .edit-request-form button[type="button"]:hover {
    background-color: #c82333;
  }
  